APP_ENV=development
APP_PORT=8000
API_KEY=clave-secreta-para-microservicios
# Database connection for SQLAlchemy
DATABASE_URL=postgresql://reclamos_user:reclamos_password@db:5432/reclamos_db
# Database settings for initializing local DB without compose
POSTGRES_USER=reclamos_user
POSTGRES_PASSWORD=reclamos_password
POSTGRES_DB=reclamos_db
